*{
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 
.wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.tableContainer{

  width: 60% !important; 
  margin-top: 2rem;
  margin-right: 10rem;
}
.chart{
  margin-top: 2rem ;
  width: 40% !important;
}
.chart h1{
 margin-left: 4rem;
 font-size: 1.8rem;
 font-weight: 500;
}
.table h1{
  font-size: 1.8rem;
  font-weight: 500;
 }
 .table-img{
   width: 50px;
   border-radius: 6px;
   margin-left: 1rem;
 }
 /* .page-wrapper{
   margin-top: 6rem;
 } */

 #container {
   margin-top: 4rem;
 }